---
import { client } from "../../../tina/__generated__/client";
import { TinaMarkdown } from "tinacms/dist/rich-text";
import CommonStyles from "../CommonStyles.astro";

const marketplacesResponse = await client.queries.marketplaces({ relativePath: "marketplaces.md" });
const marketplacesContent = marketplacesResponse.data.marketplaces;
---

<section id="marketplaces" class="marketplaces py-5">
  <div class="container">
    <h2 class="text-center mb-4">{marketplacesContent.title}</h2>
    <div class="row justify-content-center mb-5">
      <div class="col-lg-8">
        <div class="text-center">
          <TinaMarkdown content={marketplacesContent.introduction} />
        </div>
      </div>
    </div>
    
    <div class="row g-4">
      {marketplacesContent.marketplaceList?.map((marketplace) => (
        <div class="col-md-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <img src={marketplace?.logo} alt={`${marketplace?.name} logo`} class="marketplace-icon me-3" />
                <h3 class="card-title mb-0">{marketplace?.name}</h3>
              </div>
              <p class="card-text">{marketplace?.description}</p>
            </div>
            <div class="card-footer text-center">
              <a href={marketplace?.link} class="btn btn-primary" target="_blank" rel="noopener noreferrer">Visit {marketplace?.name}</a>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>

<CommonStyles />

<style>
  .marketplaces {
    background-color: #ffffff;
  }

  .card {
    background-color: #f8f9fa;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    padding: 1.5rem;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .marketplace-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  .card-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: #293C70;
  }

  .card-text {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #6c757d;
  }

  .card-footer {
    background-color: transparent;
    border-top: none;
    padding-top: 1rem;
  }

  .btn-primary {
    background-color: #EC1550;
    border-color: #EC1550;
    padding: 0.5rem 1.5rem;
  }

  .btn-primary:hover {
    background-color: #d01348;
    border-color: #d01348;
  }
</style>